* {
    font-family: cursive;
    font-size: 16px;
}

header {
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: rgb(235, 235, 235);
}

header h1 {
    font-size: 1.5em; /* 1.5 vezes maior que a global (*) */
    font-weight: bold;
    margin-left: 50px;
    line-height: 50px;
}

.select_users {
    position: absolute;
    right: 65px;
    top: 15px;
}

.select_users h2 a {
    font-weight: bold;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

.select_users h2 a:hover {
    color: rgb(70,50,200);
}

ul.users_menu, ul.admin_menu {
    position: absolute;
    right: 0;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(235, 235, 235);
}

ul.users_menu {
    width: 200px;
}

.users_menu li a, .admin_menu li a {
    font-size: 0.75em;
    padding: 5px;
    display: block;
}

.users_menu li a:hover, .admin_menu li a:hover {
    background-color: rgb(70,50,200);
    color: white;
}


ul.admin_menu {
    width: 150px;
    display: none;
}

ul.users_menu a, ul.admin_menu a {
    text-decoration: none;
    color: black;
}

.favs_list {
    float: left;
    width: 175px;
    margin-left: 45px;
}

.favs_list h2 {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

ul.favs {
    width: 170px;
}

ul.favs li a {
    display: block;
    font-size: 0.75em;
    text-decoration: none;
    color: black;
    padding: 7px 5px 7px 5px;
}

ul.favs li a:hover {
    background-color: rgb(70,50,200);
    color: white;
}

.movie_list, .movie_single {
    margin-left: 225px;
    width: 810px;
    border: 1px dotted gray;
}

.movie_list {
    padding-top: 10px;
}

.movie_list h2, .movie_single h2 {
    font-size: 1.3em;
    padding: 5px 10px 10px 10px;
}

.movie_list .welcome {
    font-size: 0.8em;
    padding: 10px 10px 20px 10px;
    border: 1px dotted gray;
    text-align: justify;
}

.movie_list ul {
    margin-top: 20px;
}

.movie_list li {
    padding-bottom: 10px;
}
    
.movie_list .thumbnail {
    width: 178px;
    height: 100px;
}

.movie_list h3 a {
    font-size: 1.1em;
    color: rgb(70,50,200);
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.movie_list h3 a:hover {
    text-decoration: underline;
}

.movie_list figcaption {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.movie_list .description {
    font-size: 0.75em;
    width: 400px;
    text-align: justify;
    padding-right: 10px;
}

.movie_player {
    width: 808px;
    height: 460px;
}

.movie_single h3 {
    font-size: 1.3em;
    padding: 10px;
}

.movie_single p {
    font-size: 0.8em;
    padding: 10px;
}

.movie_single .description {
    font-size: 0.75em;
    min-height: 80px;
    text-align: justify;
}

.movie_single .actions {
    position: relative;
    height: 37px;
    border-bottom: 1px solid #CCC;
}

.movie_single .actions .add_remove {
    position: absolute;
    right: 10px;
}

.movie_single .actions .add_remove p {
    font-size: 0.75em;
    font-weight: bold;
    color: #999;
}

.movie_single .actions .add_remove:hover {
    border-bottom: 3px solid #993300;
}

.admin .admin_users {
    margin-top: 40px;
    margin-left: 50px;
}

.admin .admin_users h2 {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.admin .admin_table {
    border-spacing: 2px;
    border-collapse: separate;
}

.admin .admin_table th {
    font-weight: bold;
    text-align: left;
    background-color: rgb(235, 235, 235);
}

.admin .admin_table th, .admin .admin_table td {
    border: 1px solid black;
}

.admin_table th, .admin_table td, .admin_table input {
    height: 35px;
    width: 300px;
}

th.admin_col, td.delete_cell, td.insert_cell {
    width: 80px;
}

.admin .admin_table th, .admin .admin_table input {
    padding-left: 5px;
    padding-right: 5px;
} 

.admin .admin_table input {
    font-size: 0.9em;
}

.admin .admin_table input:focus {
    background-color: rgb(254, 229, 172);
}

.add, .add:hover, .delete, .delete:hover, .down, .heart, .heart:hover, .profile, .logged_out, .trash, .trash:hover, .up{
    background: url(images/sprites.png) no-repeat;
}

.add{
    background-position: -56px -45px ;
    width: 128px;
    height: 128px;
}

.add:hover{
    background-position: -56px -164px ;
    width: 128px;
    height: 128px;
}

.delete{
    background-position: -186px -169px ;
    width: 128px;
    height: 128px;
}

.delete:hover{
    background-position: -184px -42px ;
    width: 128px;
    height: 128px;
}

.down{
    background-position: -323px -43px ;
    width: 128px;
    height: 128px;
}

.heart{
    background-position: -58px -296px ;
    width: 128px;
    height: 128px;
}

.heart:hover{
    background-position: -187px -299px ;
    width: 128px;
    height: 128px;
}

.profile: {
    position: absolute;
    right: 25px;
    top: 10px;
    background-position: -324px -140px ;
    width: 128px;
    height: 128px;
}

.profile.logged_in {
    background-position: -33px -199px;
}

.profile.logged_out {
    background-position: -0px -199px;
}

.logged_out{
    background-position: -325px -274px ;
    width: 128px;
    height: 128px;
}

.trash{
    background-position: -411px -35px ;
    width: 128px;
    height: 128px;
}

.trash:hover{
    background-position: -438px -150px ;
    width: 128px;
    height: 128px;
}

.up{
    background-position: -456px -269px ;
    width: 128px;
    height: 128px;
}

footer {
    clear: both;
    height: 60px;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    margin-top: 30px;
}

footer p {
    line-height: 60px;
    margin-left: 50px;
    font-size: 0.7em;
    font-weight: bold;
}

footer p a {
    font-size: inherit;
    color: black;
}

footer p a:hover {
    color: rgb(70,50,200);
} 